:root {
    --global-bg-color: rgb(227, 253, 253);
    --global-font-color: rgb(113, 201, 206);
    --container-bg-color: #ffffff;
    --shadow: rgba(0, 0, 0, 0.25);
    --btn-hover-color: #eeeeee;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--global-bg-color);
    color: var(--global-font-color);
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 40%;
    height: auto;
    background: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0.3em 0.3em 0.3em var(--shadow);
}

header {
    width: 100%;
    height: 4.5em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

h1 {
    display: flex;
    font-size: 3rem;
}

.logo{
    display: flex;
    min-width: 3rem;
    min-height: 3rem;
    color: var(--global-font-color);
}

.weather-form {
    width: 100%;
    height: 4.5em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1em;
}

.city {
  display: flex;
  flex-direction: column;
  width: fit-content;
  width: 33%;
}

.city-label {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 0.5em;
  padding: 0 0.25em;
  background: var(--container-bg-color);
  width: fit-content;
}

.city-input {
  padding: 1em;
  font-size: 1rem;
  border: 0.15em var(--global-font-color) solid;
  border-radius: 0.5em;
  background: var(--container-bg-color);
  box-shadow: 0.3em 0.3em 0.3em var(--shadow);
}

.city-input:focus {
  outline: none;
}

.weather-form button {
    cursor: pointer;
    width: 33%;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    border: 0.15em var(--global-font-color) solid;
    border-radius: 0.5em;
    background: var(--container-bg-color);
    box-shadow: 0.3em 0.3em 0.3em var(--shadow);
    color: var(--global-font-color);
}

.weather-form button:hover {
    background: var(--btn-hover-color);
}

.current-weather, 
.forecast {
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}